
* {
  font-size: 12px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  transition: 100ms;
  box-shadow: unset;
}

/* Notification styles */
.control-center .notification-row,
.floating-notifications.background .notification-row {
  margin-bottom: unset;
}

.control-center .notification-row .notification-background .notification,
.floating-notifications.background .notification-background .notification {
  margin-top: 0.150rem;
  border: unset;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
}

.control-center .notification-background .notification .notification-content,
.floating-notifications.background .notification-background .notification .notification-content {
  background-color: #1D1D22;
  padding: 0.818rem;
  margin-right: unset;
}

.notification.low .notification-content label,
.notification.normal .notification-content label {
  color: #c7c5d0;
}

.notification.low .notification-content .body,
.notification.normal .notification-content .body {
  color: #92919a;
}

.notification.critical .notification-content {
  background-color: #ffb4a9;
}

.notification.critical .notification-content label {
  color: #680003;
}

.notification-content .summary,
.notification-content .time,
.notification-content .body,
.widget-title label,
.widget-title button label,
.widget-mpris-title,
.widget-mpris-subtitle {
  font-family: "JetBrains Mono Nerd Font", monospace;
}

/* Notification content */
.notification-content .summary {
  font-size: 0.9909rem;
  font-weight: 500;
}

.notification-content .time {
  font-size: 0.8291rem;
  font-weight: 500;
  margin-right: 1rem;
}

.notification-content .body {
  font-size: 0.8891rem;
  font-weight: 400;
  margin-top: 0.310rem;
}

/* Close button */
.close-button {
  background-color: unset;
  border-radius: 100%;
  border: none;
  margin-right: 13px;
  margin-top: 6px;
  min-height: 20px;
  min-width: 20px;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Control center container */
.control-center {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border: 1px solid rgba(164, 162, 167, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: #14141B;
  padding: 1.023rem;
}

/* Sliders */
.control-center trough {
  border-radius: 9999px;
  background-color: transparent;
}

.control-center slider {
  border-radius: 9999px;
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: rgba(199, 197, 208, 0.31);
}

.control-center slider:hover {
  background-color: rgba(199, 197, 208, 0.448);
}

.control-center slider:active {
  background-color: #77767e;
}

/* Widget title */
.widget-title {
  padding: 0.341rem;
}

.widget-title button {
  border: unset;
  background-color: unset;
  border-radius: 1.159rem;
  padding: 0.141rem;
  margin-right: 0.841rem;
}

/* Volume widget */
.widget-volume {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;
  border-radius: 1.159rem;
}

.widget-volume trough {
  background-color: rgba(128, 128, 128, 0.4);
}

.widget-volume trough slider {
  background-color: #ff9f34;
  border-radius: 100%;
  min-height: 1.25rem;
}

/* MPRIS widget */
.widget-mpris {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;
  border-radius: 1.159rem;
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}
