/* Global reset */
* {
    font-size: 12px;
    font-family: "JetBrains Mono Nerd Font", monospace;
    transition: 100ms;
    box-shadow: unset;
    border-radius: 10px;
    -gtk-outline-radius: 0;
}

/* -------------------------------------------------------
   NOTIFICATIONS
------------------------------------------------------- */

/* Rows */
.control-center .notification-row,
.floating-notifications.background .notification-row {
    margin-bottom: 0;
}

/* Background + container */
.control-center .notification-row .notification-background .notification,
.floating-notifications.background .notification-background .notification {
    margin-top: 0.15rem;
    border: none;
}

/* Content block */
.control-center .notification-background .notification .notification-content,
.floating-notifications.background .notification-background .notification .notification-content {
    background-color: #1d2021;
    padding: 0.818rem;
}

/* Color levels */
.notification.low .notification-content label,
.notification.normal .notification-content label {
    color: #c7c5d0;
}

.notification.low .notification-content .body,
.notification.normal .notification-content .body {
    color: #92919a;
}

.notification.critical .notification-content {
    background-color: #fb4934;
}

.notification.critical .notification-content label {
    color: #680003;
}

/* Typography */
.notification-content .summary,
.notification-content .time,
.notification-content .body,
.widget-title label,
.widget-title button label,
.widget-mpris-title,
.widget-mpris-subtitle {
    font-family: "JetBrains Mono Nerd Font", monospace;
}

/* Text sizes */
.notification-content .summary {
    font-size: 0.9909rem;
    font-weight: 500;
}

.notification-content .time {
    font-size: 0.8291rem;
    font-weight: 500;
    margin-right: 1rem;
}

.notification-content .body {
    font-size: 0.8891rem;
    font-weight: 400;
    margin-top: 0.31rem;
}

/* Close button */
.close-button {
    background: none;
    border: none;
    margin-right: 13px;
    margin-top: 6px;
    min-height: 20px;
    min-width: 20px;
}

.close-button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

/* -------------------------------------------------------
   CONTROL CENTER
------------------------------------------------------- */

.control-center {
    border: 1px solid rgba(60, 56, 54, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
    margin: 7px;
    background-color: #1d2021;
    padding: 1rem;
}

/* -------------------------------------------------------
   TITLE WIDGET
------------------------------------------------------- */
.widget-title {
    padding: 0.341rem;
}

.widget-title button {
    border: none;
    background: none;
    padding: 0.141rem;
    margin-right: 0.841rem;
}

/* -------------------------------------------------------
   VOLUME WIDGET
------------------------------------------------------- */

.widget-volume,
.widget-volume * {
    color: #ebdbb2;
}

/* -------------------------------------------------------
   MPRIS
------------------------------------------------------- */

.widget-mpris {
    padding: 8px;
    margin: 8px;
}

.widget-mpris-player {
    padding: 8px;
    margin: 8px;
}
