* {
  background-image: none;
}
window {
  background-color: rgba(0, 0, 0, 0.7);
}
button {
  border: none;
  outline: none;
  box-shadow: none;
  margin: 10px;
  color: #ffffff;
  background-color: #1e1e1e;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-origin: border-box;
  background-clip: padding-box;
}

button:focus,
button:active,
button:hover {
  background-color: #427b58;
}

button span {
    font-size: 1.2em;
}

#lock {
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  background-image: url("./icons/reboot.svg");
}
